package solution._#YEAR#

import kotlinx.serialization.*
import kotlinx.serialization.json.*
import java.io.File
import org.assertj.core.api.Assertions.assertThat
import org.junit.jupiter.api.DisplayName
import org.junit.jupiter.api.Nested
import org.junit.jupiter.api.Test
import org.junit.jupiter.params.ParameterizedTest
import org.junit.jupiter.params.provider.CsvSource

@DisplayName("Day #DAY#")
class Day#DAY#Test {

    @Nested
    @DisplayName("Solve 1")
    inner class Solve1 {

        @ParameterizedTest
        @CsvSource(
            "0,0"
        )
        fun sample1Parameterized(input: String, output: Int) {
            val result = Day#DAY#(input).solve1()

            assertThat(result).isEqualTo(output)
        }

        @Test
        fun answer() {
            val input = File("./src/test/resources/#YEAR#/day#DAY#/day#DAY#.input").readLines().first()
            val result = Day#DAY#(input).solve1()

            println("Day #DAY# part 1: $result")

            // assertThat(result).isEqualTo(0)
        }
    }

    @Nested
    @DisplayName("Solve 2")
    inner class Solve2 {

        @ParameterizedTest
        @CsvSource(
            "0,0"
        )
        fun sample1Parameterized(input: String, output: Int) {
            val result = Day#DAY#(input).solve2()

            assertThat(result).isEqualTo(output)
        }

        @Test
        fun answer() {
            val input = File("./src/test/resources/#YEAR#/day#DAY#/day#DAY#.input").readLines().first()
            val result = Day#DAY#(input).solve2()

            println("Day #DAY# part 2: $result")

            // assertThat(result).isEqualTo(0)
        }
    }

}